openapi: 3.0.3
info:
  title: Points API
  version: 1.0.0
  description: >
    OpenAPI definition for the `/api/v1` endpoints defined in `routes/api_v1.php`.
    This spec reflects the behaviour of the Laravel backend and is the source of
    truth for integrators.
  contact:
    name: Points API Support
    email: support@papp.sa
    url: https://docs.papp.sa
servers:
  - url: https://api.papp.sa/api
    description: Production server
  - url: http://localhost/api
    description: Local development server
tags:
  - name: Orders
    description: Operations for creating and managing orders
  - name: Webhooks
    description: CRUD operations for merchant webhooks
paths:
  /v1/orders/checkout/{publicKey}:
    post:
      tags:
        - Orders
      summary: Begin checkout for a replacing order
      description: >
        Starts a checkout session for a replacing (redeem + pay) order using the
        merchant's public key. This endpoint does **not** require the `x-api-key`
        header — the public key in the path authenticates the call.

        When `phone_number` is provided but no matching customer exists, the
        returned `checkout_url` lands on an onboarding page where the customer
        can register before paying. The response shape is identical in both
        cases.
      operationId: checkoutOrder
      security: []
      parameters:
        - name: publicKey
          in: path
          required: true
          schema:
            type: string
          description: Public key that identifies the merchant.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '200':
          description: Checkout URL generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/orders/{orderUuid}:
    get:
      tags:
        - Orders
      summary: Retrieve an order
      description: Fetch a single order by its UUID for the authenticated merchant.
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      responses:
        '200':
          description: Order retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/orders/earning:
    post:
      tags:
        - Orders
      summary: Create an earning order
      description: >
        Creates an earning order (points awarded on a completed off-platform
        purchase). The request is serialized inside a distributed lock keyed by
        `merchant_id + order_number` to avoid duplicates.
      operationId: createEarningOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarningOrderRequest'
      responses:
        '200':
          description: Order created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: Too many concurrent requests for the same merchant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/orders/{orderUuid}/complete:
    post:
      tags:
        - Orders
      summary: Complete an order checkout
      description: >
        Marks a replacing order as fully paid and records the payment method.
        Only replacing orders that are not already completed, refunded, or
        cancelled may be completed.
      operationId: completeOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOrderRequest'
      responses:
        '200':
          description: Order completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: >
            Order cannot be completed. Possible reasons:
            `Order already fully paid`, `Only replacing orders can be
            completed`, `Order cannot be completed` (refunded/cancelled),
            `Order is already completed`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/orders/{orderUuid}/authorize:
    post:
      tags:
        - Orders
      summary: Authorize an order
      description: Updates the order status to `authorized`, if allowed.
      operationId: authorizeOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      responses:
        '200':
          description: Order authorized successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Order cannot be authorized (already refunded).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/orders/{orderUuid}/capture:
    post:
      tags:
        - Orders
      summary: Capture an order
      description: Updates the order status to `captured`, if allowed.
      operationId: captureOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      responses:
        '200':
          description: Order captured successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Order cannot be captured (already refunded).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/orders/{orderUuid}/cancel:
    post:
      tags:
        - Orders
      summary: Cancel an order
      description: >
        Cancels an order and fires the `order_cancelled` webhook. If `reason` is
        omitted, the server stores the default `"Order cancelled via API"` and
        echoes it in the webhook payload.
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '200':
          description: Order cancelled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Order cannot be cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/orders/{orderUuid}/status:
    post:
      tags:
        - Orders
      summary: Update shipping status
      description: >
        Updates the shipping/fulfilment status of an order and fires the
        `shipping_status_updated` webhook. This is a separate lifecycle from the
        financial `order_status`.
      operationId: updateShippingStatus
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingStatusUpdateRequest'
      responses:
        '200':
          description: Shipping status updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/orders/{orderUuid}/refund:
    post:
      tags:
        - Orders
      summary: Refund an order
      description: >
        Issues a full or partial refund and returns points to the customer.
        When `amount` is omitted, the full captured amount is refunded. Rules
        (refund window, order state) are enforced by the backend `RefundService`.
      operationId: refundOrder
      parameters:
        - $ref: '#/components/parameters/orderUuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Order refunded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Refund not allowed (outside allowed window, not captured, settled, etc.).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Returns a paginated list of webhooks for the authenticated merchant.
      operationId: listWebhooks
      parameters:
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Number of items to return per page (default 15).
      responses:
        '200':
          description: Webhooks retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCollectionResponse'
        '400':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Webhooks
      summary: Create a webhook
      description: Registers a new webhook for the authenticated merchant.
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Validation failed or webhook already exists for this URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/webhooks/{webhookUuid}:
    get:
      tags:
        - Webhooks
      summary: Retrieve a webhook
      description: Fetch a single webhook by UUID for the authenticated merchant.
      operationId: getWebhook
      parameters:
        - $ref: '#/components/parameters/webhookUuid'
      responses:
        '200':
          description: Webhook retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Webhooks
      summary: Update a webhook
      description: >
        Updates the name and/or URL of a webhook. All provided fields replace
        existing values.
      operationId: updateWebhook
      parameters:
        - $ref: '#/components/parameters/webhookUuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Webhook updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    patch:
      tags:
        - Webhooks
      summary: Partially update a webhook
      description: >
        Provides a partial update for a webhook. Only supplied fields are
        changed.
      operationId: patchWebhook
      parameters:
        - $ref: '#/components/parameters/webhookUuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
      responses:
        '200':
          description: Webhook updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Webhooks
      summary: Delete a webhook
      description: Deletes a webhook for the authenticated merchant.
      operationId: deleteWebhook
      parameters:
        - $ref: '#/components/parameters/webhookUuid'
      responses:
        '200':
          description: Webhook deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  parameters:
    orderUuid:
      name: orderUuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Order UUID.
    webhookUuid:
      name: webhookUuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Webhook UUID.
  responses:
    BadRequest:
      description: >
        The API key is missing, invalid, or inactive. Note: the Points API returns
        `400` (not `401`) for auth failures.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: >
        The `x-api-key` header is missing, invalid, or belongs to an inactive
        merchant. The Points API returns `400` (not `401`) for auth failures.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: >
        The authenticated merchant is not allowed to perform this action
        (e.g. merchant is unverified, or the feature is disabled on this account).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found for the authenticated merchant.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ApiMetadata:
      type: object
      required:
        - status
        - message
        - appended_data
      properties:
        status:
          type: boolean
          example: true
        message:
          type: string
          nullable: true
          example: ''
        appended_data:
          type: object
          additionalProperties: true
          example: {}
    ShippingAddress:
      type: object
      nullable: true
      description: Optional shipping address. All fields are individually optional.
      properties:
        city:
          type: string
          maxLength: 100
          nullable: true
          example: Riyadh
        line1:
          type: string
          maxLength: 255
          nullable: true
          example: 1234 King Fahd Rd, Al Olaya
    CheckoutRequest:
      type: object
      required:
        - total_price
        - order_number
      properties:
        phone_number:
          type: string
          nullable: true
          description: >
            Customer phone number. Accepted formats: `+966XXXXXXXXX`,
            `00966XXXXXXXXX`, `966XXXXXXXXX`, `0XXXXXXXXX`, or bare
            `5XXXXXXXX`. Normalised server-side to `5\d{8}`.
          example: "512345678"
        name:
          type: string
          maxLength: 255
          nullable: true
          description: Customer name.
          example: Ahmed Al-Saud
        total_price:
          type: number
          format: float
          minimum: 0
          description: Checkout amount (SAR).
          example: 150.75
        shipping_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 15.0
        tax_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 22.5
        discount_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 10.0
        shipping_address:
          $ref: '#/components/schemas/ShippingAddress'
        products:
          type: array
          nullable: true
          minItems: 1
          description: Line items. Nullable — orders can be created without per-item detail.
          items:
            $ref: '#/components/schemas/ProductLine'
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Optional metadata that will be stored with the order.
          example:
            source: mobile_app
            notes: Deliver ASAP
        order_number:
          type: string
          description: >
            Merchant order reference. A leading `#` is stripped server-side.
          example: ORD-2024-0001
        callback_url:
          type: string
          format: uri
          nullable: true
          description: URL to redirect the customer after checkout completion.
          example: https://merchant.example.com/callback
    CheckoutResponse:
      allOf:
        - $ref: '#/components/schemas/ApiMetadata'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - checkout_url
              properties:
                checkout_url:
                  type: string
                  format: uri
                  example: https://pay.papp.sa/session/abcd1234
    ProductLine:
      type: object
      required:
        - product_name
        - product_price
        - quantity
      properties:
        product_name:
          type: string
          example: Cappuccino
        product_price:
          type: number
          format: float
          minimum: 0
          example: 18.5
        quantity:
          type: integer
          minimum: 1
          example: 2
    EarningOrderRequest:
      type: object
      required:
        - phone_number
        - total_price
        - products
        - order_number
      properties:
        phone_number:
          type: string
          description: >
            Customer phone number. Accepted formats: `+966XXXXXXXXX`,
            `00966XXXXXXXXX`, `966XXXXXXXXX`, `0XXXXXXXXX`, or bare
            `5XXXXXXXX`. Normalised server-side to `5\d{8}`.
          example: "512345678"
        name:
          type: string
          maxLength: 255
          nullable: true
          example: Ahmed Al-Saud
        total_price:
          type: number
          format: float
          minimum: 0
          description: Purchase amount (SAR).
          example: 115.0
        shipping_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 15.0
        tax_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 22.5
        discount_amount:
          type: number
          format: float
          minimum: 0
          nullable: true
          example: 10.0
        shipping_address:
          $ref: '#/components/schemas/ShippingAddress'
        products:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProductLine'
        order_number:
          type: string
          description: Merchant order reference.
          example: SALE-2024-0021
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Optional metadata stored on the order.
    CompleteOrderRequest:
      type: object
      description: >
        Body for `POST /v1/orders/{orderUuid}/complete`. All fields are optional.
      properties:
        payment_method:
          type: string
          nullable: true
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
            - "7"
            - "8"
            - "9"
            - "10"
          description: |
            Payment method used to complete the order. String-numeric enum:

            | Value  | Method         |
            |--------|----------------|
            | `"1"`  | VISA           |
            | `"2"`  | MADA           |
            | `"3"`  | Apple Pay      |
            | `"4"`  | Mastercard     |
            | `"5"`  | Tabby          |
            | `"6"`  | Dashboard      |
            | `"7"`  | Bank transfer  |
            | `"8"`  | Wallet         |
            | `"9"`  | Cash           |
            | `"10"` | Tamara         |
          example: "2"
    ShippingStatusUpdateRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - new
            - license_in_progress
            - ready_shipping
            - delivery_is_in_progress
            - delivered
            - cancelled
          description: Shipping status. Independent of the financial `order_status`.
          example: ready_shipping
    CancelRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
          description: >
            Reason provided for the cancellation. Defaults to
            `"Order cancelled via API"` when omitted.
          example: Customer requested cancellation.
    RefundRequest:
      type: object
      properties:
        amount:
          type: number
          format: float
          minimum: 0
          description: >
            Amount to refund. When omitted, the full captured amount is refunded.
          example: 50.0
        reason:
          type: string
          maxLength: 500
          description: Explanation for the refund.
          example: Item returned by customer.
    OrderResource:
      type: object
      properties:
        id:
          type: integer
          example: 42
        uuid:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        reference_number:
          type: string
          nullable: true
          example: REF-2024-001234
        order_status:
          type: string
          enum:
            - new
            - approved
            - authorized
            - captured
            - cancelled
            - fully_refunded
            - partially_refunded
          description: Financial state of the order.
          example: approved
        order_number:
          type: string
          example: ORD-2024-001234
        type:
          type: integer
          enum: [1, 2]
          description: |
            Order type: `1` = earning, `2` = replacing.
          example: 1
        total_price:
          type: number
          format: float
          example: 150.5
        total_points:
          type: number
          format: float
          example: 1505
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          example:
            source: mobile_app
        date:
          type: string
          format: date
          nullable: true
          example: 2024-12-23
        time:
          type: string
          nullable: true
          example: 10:00:00
        since:
          type: string
          nullable: true
          description: Human-readable relative time (e.g. "2 hours ago").
          example: 2 hours ago
        created_at:
          type: string
          format: date-time
          example: 2024-12-23T10:00:00Z
        items:
          type: array
          nullable: true
          description: Present only when products were attached to the order.
          items:
            $ref: '#/components/schemas/ProductLine'
    OrderResponse:
      allOf:
        - $ref: '#/components/schemas/ApiMetadata'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/OrderResource'
    WebhookBase:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        merchant_id:
          type: integer
          example: 123
        name:
          type: string
          example: Order Notification
        url:
          type: string
          format: uri
          example: https://merchant.example.com/webhooks/orders
        secret:
          type: string
          description: >
            Signing secret, returned on every read (not just on create).
            Used to verify the `X-Webhook-Secret` header in delivered events.
          example: abc123def456
        created_at:
          type: string
          format: date-time
          example: 2024-12-23T10:00:00Z
        updated_at:
          type: string
          format: date-time
          example: 2024-12-23T15:30:00Z
    WebhookResponse:
      allOf:
        - $ref: '#/components/schemas/ApiMetadata'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/WebhookBase'
    WebhookCollectionResponse:
      allOf:
        - $ref: '#/components/schemas/ApiMetadata'
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/WebhookBase'
            links:
              type: object
              description: Pagination links generated by Laravel.
              additionalProperties: true
            meta:
              type: object
              description: Pagination metadata generated by Laravel.
              additionalProperties: true
    WebhookRequest:
      type: object
      required:
        - name
        - url
      properties:
        name:
          type: string
          maxLength: 255
          example: Order Notification
        url:
          type: string
          format: uri
          maxLength: 500
          example: https://merchant.example.com/webhooks/orders
    WebhookUpdateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
          example: Updated Webhook Name
        url:
          type: string
          format: uri
          maxLength: 500
          example: https://merchant.example.com/webhooks/orders-v2
      description: Provide at least one field when updating a webhook.
      minProperties: 1
    EmptyResponse:
      allOf:
        - $ref: '#/components/schemas/ApiMetadata'
    ErrorResponse:
      type: object
      required:
        - status
        - message
        - appended_data
      properties:
        status:
          type: boolean
          example: false
        message:
          type: string
          example: Invalid or inactive API key
        appended_data:
          type: object
          additionalProperties: true
          example: {}
security:
  - ApiKeyAuth: []
